body{
    margin:0;
    padding: 0;
    background-color:#2D2727;
}
.navbar{

   text-align: center;
    }
.navbar-brand{
    padding:8px 300px;
}
.title{
    padding:0;
    margin: 0;
}

img{

    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

}

p{
    padding:0 10%;
}

.intro-speech{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding:15% 15% 15% 15%;
    text-shadow: 2px 3px 1px rgba(46,91,173,0.6)
}

/* -------------carousel style-----------------------*/

#carouselrecent-song{

    text-align: left;
    background-color:black;
    }

#carosel-view{
    padding-right: 0px;
}

.carousel-caption{
    font-family: 'MVB-SolanoGothicMVB-B', 'NotoSansCJKkr';
    letter-spacing: -.03em;

}
.carousel-caption{
    margin-bottom: 20%;
    margin-right: 50%;

}

/* --------------------footer content -----------------------------*/

footer{
    position: absolute;
    right: 0px;
    left: 0px;
}
.footer_wrap {

	width: 100%;
	padding: 10px 28px;
	background: #272727;
	line-height: 40px;
	margin: 0;
}
.social-logo{
    padding: 0 0 0 10px;
}
.footer-col{
    padding: 0 0 0 20%
    font-family: 'NotoSansCJKkr-R';

}
.btn{
    text-transform: uppercase;
    font-family: 'Camber-M';
}

.copyright {
    font-family: 'Camber-M';
    font-size: 10px;
    line-height: 10px;
    color: #6b6b6b;
    text-align: right;
    text-transform: uppercase;
}
/*---------------------google style----------------------*/
#google_translate_element select{
 background:black;
 color:#6b6b6b;
 border: none;
 border-radius:3px;
 padding:6px 8px
 }

 /*google translate link | logo */
   .goog-logo-link,.goog-te-gadget span,div#goog-gt-{
   display:none!important;
   }
 .goog-te-gadget{
   color:transparent!important;
   font-size:0;
 }

 /* google translate banner-frame */

 .goog-te-banner-frame{
 display:none !important;
 }

 #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}

body > .skiptranslate {
    display: none;
}