<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="https://kit.fontawesome.com/82d3adc446.js" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;1,500&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body style="background-image: url('static/img/bg.jpg')">
    <section id="title">
        <nav class="navbar  navbar-light sticky-top">
            <div class="container-fluid">
               <a class="navbar-brand" href="#"><img src="https://ibighit.com/images/logo.png" ></a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <div id="google_translate_element"></div>
                    </li>
                </ul>
            </div>

        </nav>

    </section>


     <section class="body" >
         <div class="container-fluid intro-speech">

             <P>
                 BIGHIT MUSIC is an industry-leading music label that continues to pioneer new paths
                 driven by a strong belief in music and ceaseless support from fans.
             </P>
             <p>
                 BIGHIT strives to create music heretofore unseen in the world through its inimitable way, creating the music
                 that symbolizes an era that can resonate with fans across the world.
             </p>
         </div>

           <div class="row">

             <div class="col-lg-12 col-sm-12 ">

               <div id="carouselrecent-song" class="carousel slide " >

                  <div class="carousel-indicators" data-bs-theme="dark">
                    <button type="button" data-bs-target="#carouselrecent-song" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselrecent-song" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselrecent-song" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselrecent-song" data-bs-slide-to="3" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselrecent-song" data-bs-slide-to="4" aria-label="Slide 3"></button>
                  </div>

                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src={{pic1}} class="d-block w-100 img-songs" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5><b>{{title1}}</b></h5>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src={{pic2}} class="d-block w-100 img-songs" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{title2}}</h5>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src={{pic3}} class="d-block w-100 img-songs" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{title3}}</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src={{pic4}} class="d-block w-100 img-songs" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{title4}}</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src={{pic5}} class="d-block w-100 img-songs" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{title5}}</h5>
                      </div>
                    </div>
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselrecent-song" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselrecent-song" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
             </div>
           </div>


      </section>

     <footer>

         <div class="footer_wrap row">
            <div class="footer-social  col-lg-4  col-m-12 col-sm-12 footer-col">
                <div>
                   <a class="social-logo" href="https://www.facebook.com/BIGHIT.MUSIC"><i class=" fa-brands fa-facebook  fa-xl" ></i></a>

                    <a class="social-logo" href="https://twitter.com/bighit_music"> <i class="fa-brands fa-twitter fa-xl"></i></a>
                    <a class="social-logo" href="https://www.youtube.com/user/ibighit"><i class="fa-brands fa-youtube fa-xl"></i></a>

                </div>

            </div>

            <div class="familysite col-lg-4 col-m-12 col-sm-12 footer-col">
                <div class="dropdown">
                  <button class="btn btn-secondary btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    family site
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="https://hybecorp.com" title="2022 Big Hit Music / HYBE : Open in a New Window">2022 Big Hit Music / HYBE.</a></li>
                      <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://www.bighitaudition.com/" title="Big Hit Audition : Open in a New Window">Big Hit Audition</a></li>
                      <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://www.weverseshop.io" title="WEVERSE SHOP : Open in a New Window">WEVERSE SHOP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://weverse.io/" title="Weverse : Open in a New Window">Weverse</a></li>

                  </ul>
                </div>

         </div>

            <div class="copyright col-lg-4 col-m-12 col-sm-12">

                <p><a class="copyright" href="https//ibighit.com/kor/familysite/index.html">관련사이트"</a></p>
                <p>Copyright © 2022 Big Hit Music / HYBE. <span class="nowrap">All Rights Reserved</span></p>
            </div>

         </div>

     </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

     <script type="text/javascript">
       function googleTranslateElementInit()
       {
       new google.translate.TranslateElement({ pageLanguage: 'und',
       includedLanguages: 'ja,en,ko,zh-CN',
        layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL,
       autoDisplay:true, multilanguage: true},
        'google_translate_element');
        }
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6419a0504247f20fefe723db/1gs21kfh6';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

</body>
</html>